<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="" routerLink="main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="proyectos">Agregar Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="quienes">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
