<div class="main-login">
  <div class="container-form">
    <h1 class="text-center">Iniciar Sesión</h1>
    <form class="form d-flex flex-column align-items-center gap-3" #f="ngForm" (ngSubmit)="f.form.valid && login(f)">
      <div class="form-group">
        <input class="form-control" type="email" name="email" id="email" placeholder="example@email.com" ngModel required />
      </div>
      <div class="form-group">
        <input type="password" name="password" id="password" placeholder="****" class="form-control" ngModel required />
      </div>
      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
</div>
