<table class="table table-striped table-bordered">
  <thead>
    <tr class="bg-info text-light">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">LastName</th>
      <th scope="col">Position</th>
      <th scope="col">Salary</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-template *ngIf="usersList.length === 0; else userRegister"
      ><tr>
        No hay Registros
      </tr></ng-template
    >
    <ng-template #userRegister>
      <tr *ngFor="let user of usersList; let i = index" class="fw-lighter">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.nombre }}</td>
        <td>{{ user.apellido }}</td>
        <td>{{ user.cargo }}</td>
        <td>{{ user.salario | currency : 'COP' : '$' : '1.2-2' }}</td>
        <td>
          <button class="btn btn-success" (click)="editEmpleado(i)">Edit</button>
          <button class="btn btn-danger" (click)="deleteEmpleado(i.toString())">Delete</button>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
