<form class="py-4">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" name="nombre" class="form-control" id="name" aria-describedby="nameHelp" [(ngModel)]="nombre" />
  </div>
  <div class="mb-3">
    <label for="apellidos" class="form-label">Apellidos</label>
    <input type="text" name="apellido" class="form-control" id="apellidos" [(ngModel)]="apellido" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="cargo">Cargo</label>
    <input type="text" name="cargo" class="form-control" id="cargo" [(ngModel)]="cargo" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="salario">Salario</label>
    <input type="text" name="salario" class="form-control" id="salario" [(ngModel)]="salario" />
  </div>
  <button type="submit" class="btn btn-primary" (click)="updateEmpleado()">Actualizar</button>
  <button class="btn btn-warning" [routerLink]="['']">Regrezar</button>
</form>
